CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379
worker_hijack_root_logger=False
RUNTIME_ENV=docker
SECRET_KEY=supersecret
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_HOST_AUTH_METHOD=trust

VOLUME_DIR=~/esid_volumes

API_PORT=8000
DB_PORT=5432

API_PATH_PREFIX=

UPLOAD_FORWARD_ENDPOINT=
UPLOAD_FORWARD_ACCESS_KEY=
UPLOAD_FORWARD_SECRET_KEY=
